<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Eve's Party Planner | View Packages</title>
      <% include ./partials/head.ejs %>
    </head>

  <body>
    <% include ./partials/nav.ejs %>
    <nav>
     <div class="nav-wrapper">
       <div class="col s12">
         <a href="/" class="breadcrumb">Home</a>
         <a href="/packages" class="breadcrumb">Packages</a>
       </div>
     </div>
   </nav>
    <h2 class="pinktext">Eve's Kids Party Packages Options</h2>
    <div class="row">
      <% for(let i = 0; i < party.length; i++){ %>
      <div class="col s12 m7">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%=party[i].img; %>">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%=party[i].title; %><i class="material-icons right">more_vert</i></span>
            <p><%=party[i].description; %></p>
            <p><a href="#" style="color:#d83103;">Our Price: $<%=party[i].price; %></a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%=party[i].title; %><i class="material-icons right">close</i></span>
            <% for(let j = 0; j < party[i].highlights.length; j++){ %>
              <li><%=party[i].highlights[j]; %></li>
            <%}%>
          </div>
          <div class="card-action">
            <a href="/<%=party[i].id; %>/buy">BOOK ONLINE</a>
            <a href="/<%=party[i].id; %>">LEARN MORE</a>
            <% if(currentUser){%>
              <a href="/<%=party[i].id; %>/edit">EDIT</a>
              <form action="/packages/<%=party[i].id%>?_method=DELETE" method="POST" class="btn waves-effect orange lighten-3 white-text">
                <input type="submit" value="DELETE" />
              </form>
            <%}%>
          </div>
        </div>
      </div>
      <%}%>
    </div>
    <div style="margin:2%;">
      <a class="btn waves-effect orange lighten-3 black-text darken-text-2"  href="/new" >Add a new packages<i class="material-icons right">send</i></a>
    </div>
    <% include ./partials/footer.ejs %>
    <% include ./partials/script.ejs %>
  </body>
</html>
